* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: #2c2e30;
}

.topnav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  background-color: #2c2e30;
  border-bottom: solid 2px #1f1f1f;
  height: 90px;
  width: 100%;
  padding: 0 10%;
  box-sizing: border-box;
}

h1 {
  color: #bebfc0;
  margin: 0;
}

.main-title {
  font-size: 2rem;
}

.sub-title {
  font-size: 16px;
}

a {
  color: #bebfc0;
  font-size: 1.5em;
  float: right;
  text-decoration: none;
  font-weight: bold;
}

/* .sidebar {
  height: 100%;
  width: 256px;
  background-color: #1f1f1f;
  position: fixed;
} */

.chat {
  position: absolute;
  top: 90px;
  bottom: 90px; /* Adjust according to your layout */
  width: 100%;
  overflow-y: auto;
  padding: 10px;
}

.message {
  margin-bottom: 10px;
  padding: 8px 16px;
  border-radius: 8px;
  max-width: 70%;
  word-wrap: break-word;
}

.user {
  height: auto;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  background-color: #65686a;
  color: white;
  align-self: flex-end;
  word-wrap: break-word;
  white-space: pre-wrap;
}

.assistant {
  height: auto;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  background-color: #46494d;
  color: #bebfc0;
  align-self: flex-start;
  word-wrap: break-word;
  white-space: pre-wrap;
}

.messageForm {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  background-color: #2c2e30;
  height: 90px;
  width: 100%;
  padding: 0 20px;
  z-index: 10;
}

Textarea {
  width: 837px;
  height: auto;
  border: none;
  border-radius: 100px;
  padding: 5px 20px;
  background-color: #46494d;
  color: #bebfc0;
  resize: none;
  font-size: 17px;
  margin-bottom: 20px;
  align-content: center;
  margin-right: 20px;
}

Textarea::placeholder {
  color: #bebfc0;
  font-size: 17px;
}

button {
  height: 66px;
  width: 66px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  background-color: #46494d;
  margin-bottom: 20px;
  color: #bebfc0;
}

.messageForm {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  background-color: #2c2e30;
  height: 90px;
  width: 100%;
  z-index: 10;
}

.message {
  margin-bottom: 10px;
  color: #bebfc0;
}

@media (max-width: 969px) {
  textarea {
    width: 750px;
  }
}

@media (max-width: 886px) {
  textarea {
    width: 650px;
  }

  @media (max-width: 786px) {
    textarea {
      width: 550px;
    }
  }

  @media (max-width: 689px) {
    textarea {
      width: 450px;
    }
  }

  @media (max-width: 583px) {
    textarea {
      width: 350px;
    }
  }

  @media (max-width: 474px) {
    textarea {
      width: 250px;
    }
  }
  @media (max-width: 380px) {
    textarea {
      width: 200px;
    }
  }

  /* foldable */
  @media (max-width: 344px) {
    .main-title {
      font-size: 1.5rem;
    }

    .sub-title {
      font-size: 8px;
    }

    a {
      font-size: 1em;
    }
    textarea {
      width: 200px;
    }
  }
}
